* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
}

:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}


img {
    max-width: 100%;
    height: 30rem;

    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.js {
    color: var(--base);
}


/********************/
.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.input-single {
    display: flex;
    align-items: center;
}

.input-single:nth-child(2) {
    margin: 0 2rem;
}